body {
    background-color: #C3CCD5;
}

.row {
    width: 1200px;
    margin: auto;
}

.btn1 {
    width: 140px;
    height: 35px;
}

.headLine{
    height: 30px;
}

.ui-tabs .ui-tabs-nav li a{
    padding: 5px !important;
}

.ui-widget, .ui-widget .ui-widget {
    font-size: 15px !important;
    font-family: Tahoma, Geneva, sans-serif
}

.Fs48 {
    font-size: 48px !important;
}

.Fs24 {
    font-size: 24px !important;
}

.Fs16 {
    font-size: 16px !important;
}

.gray {
    color: GrayText;
}

a {
    text-decoration: none;
}

.ui-widget-content{
    color:black !important;
}

.ui-tabs .ui-tabs-panel {
    padding: 5px 5px !important;
}
