/*******TOOLBAR*************/
#layout-topbar {
    display: block;
    width: 98%;
    height: 40px;
    z-index: 1000;
    background-color: #37474F;
    padding: 10px 1%;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

#mobile-menu-button {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 28px;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: #ffffff;
    overflow: hidden;
    float: left;
    background-color: rgba(42, 42, 42, 0.2);
}

#mobile-menu-button #ButtonLine1 {
    margin-top: 14px;
}

#mobile-menu-button #ButtonLine2 {
    margin-top: 3px;
}

#mobile-menu-button #ButtonLine3 {
    margin-top: 3px;
}

#mobile-menu-button .ButtonLine {
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 2px;
}

#logo {
    width: auto;
    height: auto;
    display: inline-block;
    float: left;
}

#logo img {
    height: 25px;
    margin: 8px 0 0 10px;
}

.Fleft {
    float: left;
}

img {
    outline: none;
    border: none;
    border: 0;
}

#show-top-menu {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 28px;
    border-radius: 50%;
    text-align: center;
    width: 42px;
    height: 39px;
    cursor: pointer;
    color: #ffffff;
    overflow: hidden;
    float: right;
    padding-top: 3px;
    margin-left: 4px;
}
#show-top-menu:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
#show-top-menu.MenuClose {
    background-color: rgba(6, 2, 2, 0.2);
}
#show-top-menu.MenuClose #active {
    display: none;
}
#show-top-menu.MenuClose #passive {
    display: block;
    margin-top: 4px;
}

.ripplelink {
    text-decoration: none;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

}

@media (min-width: 960px) {
    .ShowOnMobile {
        display: none;
        opacity: 0;
    }

    .ShowOnMobile {
        display: none;
    }
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'Modena', serif;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.DispNone {
    display: none;
}

@media (max-height: 560px) and (min-height: 320px) {
    #top-menu {
        max-height: 275px;
        overflow-y: auto;
    }
}

#top-menu {
    margin: 0;
    padding: 0;
    float: right;
    font-family: 'robotoregular', serif;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

#top-menu > li {
    float: left;
    margin-left: 4px;
}
li {
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
}

#top-menu > li > a {
    background-color: rgba(42, 42, 42, 0.2);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 26px;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    width: 42px;
    height: 37px;
    cursor: pointer;
    display: block;
    color: #ffffff;
    overflow: hidden;
}

.whiteBtn {
    background-color: rgba(42, 42, 42, 0.2);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 26px;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    width: 42px;
    height: 37px;
    cursor: pointer;
    display: block;
    color: #ffffff;
    overflow: hidden;
}

#top-menu li ul {
    width: 200px;
    height: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    background-color: #ffffff;
    border-radius: 2px;
    margin: 12px 0 0 -150px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(43, 59, 93, 0.6);
    -moz-box-shadow: 0 1px 4px 0 rgba(43, 59, 93, 0.6);
    box-shadow: 0 1px 4px 0 rgba(43, 59, 93, 0.6);
    -webkit-transform: perspective(500px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: perspective(500px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
    -o-transform: perspective(500px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
    transform: perspective(500px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#top-menu li ul li {
    padding: 0;
    margin: 0;
}

#top-menu li ul li a {
    color: #546e7a;
    padding: 15px;
    display: block;
    font-size: 16px;
    font-family: 'robotoregular', serif;
}
#top-menu li ul li a.active-menu,
#top-menu li ul li a:hover,
#top-menu li ul li a:focus {
    background-color: #f5f5f5;
}
#top-menu li ul li a i {
    margin-right: 5px;
}

#top-menu li ul li input[type="text"] {
    background-color: transparent;
    border: 0 none;
    border-bottom: solid 1px #465b65;
    padding: 0;
    width: 140px;
    font-family: 'robotoregular', serif;
    font-size: 16px;
    color: #465b65;
}
input[type="text"], input[type="password"], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.animate {
    -webkit-animation: ripple 0.65s linear;
    -moz-animation: ripple 0.65s linear;
    -ms-animation: ripple 0.65s linear;
    -o-animation: ripple 0.65s linear;
    animation: ripple 0.65s linear;
}
.ink {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

#top-menu > li > a.active-menu {
    background-color: rgba(255, 255, 255, 0.1);
}

#top-menu li ul.active-menu {
    z-index: 1001;
    height: auto;
    margin: 12px 0 0 -150px;
    -webkit-transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#mobile-menu-button:hover,
#mobile-menu-button:focus {
    background-color: rgba(42, 42, 42, 0.3);
}
#mobile-menu-button.MenuClose {
    background-color: #ef5350 !important;
    color: #ffffff;
    /*margin-top: 28px;*/
    -webkit-transform: perspective(500px) rotateX(0deg) rotateY(180deg) rotateZ(0deg);
    -moz-transform: perspective(500px) rotateX(0deg) rotateY(180deg) rotateZ(0deg);
    -o-transform: perspective(500px) rotateX(0deg) rotateY(180deg) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateX(0deg) rotateY(180deg) rotateZ(0deg);
    transform: perspective(500px) rotateX(0deg) rotateY(180deg) rotateZ(0deg);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#top-menu > li > a:hover,
#top-menu li a:focus,
.whiteBtn:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
#top-menu > li > a.active-menu {
    background-color: rgba(255, 255, 255, 0.1);
}


#wrapper {
    display: inline;
    width: 100%;
    height: 100%;
}
#wrapperIndent {
    display: inline;
    height: 100%;
}
#layout-menu-cover {
    width: 320px;
    margin-left: -320px;
    display: block;
    max-height: 100%;
    vertical-align: top;
    position: fixed;
    z-index: 999;
    overflow: hidden;
}
#layout-menu-cover.showmenu {
    margin-left: 0;
}
.Animated05 {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#layout-menu-cover.showmenu .layout-menu {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#layout-menu-cover .layout-menu {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
    -o-transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.ShadowEffect {
    -webkit-box-shadow: 0 1px 3px 0 rgba(43, 59, 93, 0.4);
    -moz-box-shadow: 0 1px 3px 0 rgba(43, 59, 93, 0.4);
    box-shadow: 0 1px 3px 0 rgba(43, 59, 93, 0.4);
}
.layout-menu {
    width: 94%;
    padding: 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-color: #ffffff;
    margin: 4px auto 10px;
}

.layout-menu > li {
    width: auto;
    height: auto;
    font-size: 16px;
}
.layout-menu li {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.layout-menu > li > a {
    width: 88%;
    padding: 18px 6%;
    display: block;
    font-family: 'robotoregular', serif;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.layout-menu li a {
    color: #546e7a;
    cursor: pointer;
}

.layout-menu > li > a > i {
    display: block;
    font-size: 18px;
    float: left;
    margin-right: 8px;
}
li {
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
}

#layout-menu-cover:hover .layout-menu > li > a.active-menu, .layout-menu > li > a.active-menu {
    background-color: #e0e0e0;
}

.layout-menu .active-menu-restore {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

/*Layout Menu */
.layout-menu ul {
    display: none;
    padding: 0;
    overflow: hidden;
    height: 0;
    opacity: 0;
    -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -ms-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    transition: all 1.2s ease;
}
#layout-menu-cover ul.active-menu {
    display: block !important;
    height: auto;
    opacity: 1;
    background-color: #f5f5f5;
}
#layout-menu-cover:hover .layout-menu > li > a.active-menu,
.layout-menu > li > a.active-menu {
    background-color: #e0e0e0;
}
.layout-menu li ul li a.active-menu {
    /* background-color:#EAEAEA; color:#03A9F4; */
}
.layout-menu > li > a:hover,
.layout-menu > li > a:active,
.layout-menu > li > a:focus {
    background-color: #e0e0e0;
}
.layout-menu li ul li {
    font-family: 'robotolight', serif;
    font-size: 15px;
}
.layout-menu > li ul li a:focus {
    color: #03a9f4;
}
.layout-menu li ul li a {
    width: 88%;
    padding: 12px 6%;
    display: block;
    text-align: left;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.layout-menu li ul li a:hover {
    background-color: #e0e0e0;
}
.layout-menu li ul li a > i {
    margin-right: 4px;
    font-size: 16px;
}

#mobile-menu-button.MenuClose #ButtonLine1 {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 19px;
}
#mobile-menu-button.MenuClose #ButtonLine2 {
    opacity: 0;
}
#mobile-menu-button #ButtonLine2 {
    margin-top: 3px;
}
#mobile-menu-button.MenuClose #ButtonLine3 {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -7px;
}