.icon-bar {
    margin-top: 5px;
    width: 70px; /* Set a specific width */
    background-color: #555; /* Dark-grey background */
    float: left;
    display: block;
}

.icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font-size */
}

.Fs36 {
    font-size: 36px !important;
}

.icon-bar a:hover {
    background-color: #444444;
}

.icon-bar a.active:hover {
    background-color: #3D8C40; /* #317033 Add an active/current color */
}

.active {
    background-color: #4CAF50; /* Add an active/current color */
}



.order_div {
    margin-left: 5px;
    margin-bottom: 5px;
    display: block;
    text-decoration: none;

}

.ordersList{
    margin-top: 5px;
    float: left;
    width: 930px;
}
#dataForm\3a grid > thead > tr{
    height: 26px!important;
}