.weightDisplay {
    -fx-cursor: hand;
    -fx-font-size: 28;
    -fx-font-weight: bold;
    -fx-pref-width: 120px;
    -fx-alignment: center;
    -fx-text-fill: black;
    -fx-end-margin: 10;

    -fx-background-color: palegoldenrod;
    -fx-background-radius: 3;
    -fx-effect: dropshadow(three-pass-box, #a6aaa8, 10, 0, 0, 0);

    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.toolBarPanel{
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0;
}

.statusLb {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-padding: 0 10 0 10;
}

.redRow {
    -fx-control-inner-background: #FF2020; -fx-accent: derive(-fx-control-inner-background, -40%); -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}

.pinkRow {
    -fx-control-inner-background: #FF9999; -fx-accent: derive(-fx-control-inner-background, -40%); -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}

.limeRow {
    -fx-control-inner-background: #CCFFCC; -fx-accent: derive(-fx-control-inner-background, -40%); -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}

.greenRow {
    -fx-control-inner-background: #55FF55; -fx-accent: derive(-fx-control-inner-background, -40%); -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}
